// bebasneue-regular
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/BebasNeue-Regular.otf');
}

// Chunkfive Ex
@font-face {
    font-family: 'Chunkfive Ex';
    src: url('fonts/Chunkfive Ex.ttf');
}

// The Boundaries
@font-face {
    font-family: 'The Boundaries';
    src: url('fonts/The Boundaries.otf');
}

// Ubuntu-Bold
@font-face {
    font-family: 'Ubuntu Bold';
    src: url('fonts/Ubuntu-Bold.ttf');
}

// Ubuntu-Bold-Italic
@font-face {
    font-family: 'Ubuntu Bold Italic';
    src: url('fonts/Ubuntu-Bold-Italic.ttf');
}

// Ubuntu-Condensed
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('fonts/Ubuntu-Condensed.ttf');
}

// Ubuntu-Light
@font-face {
    font-family: 'Ubuntu Light';
    src: url('fonts/Ubuntu-Light.ttf');
}

// Ubuntu-Light-Italic
@font-face {
    font-family: 'Ubuntu Light Italic';
    src: url('fonts/Ubuntu-Light-Italic.ttf');
}

// Ubuntu-Medium
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('fonts/Ubuntu-Medium.ttf');
}

// Ubuntu-Medium-Italic
@font-face {
    font-family: 'Ubuntu Medium Italic';
    src: url('fonts/Ubuntu-Medium-Italic.ttf');
}

// UbuntuMono-Bold
@font-face {
    font-family: 'UbuntuMono Bold';
    src: url('fonts/UbuntuMono-Bold.ttf');
}

// UbuntuMono-Bold-Italic
@font-face {
    font-family: 'UbuntuMono Bold Italic';
    src: url('fonts/UbuntuMono-Bold-Italic.ttf');
}

// UbuntuMono
@font-face {
    font-family: 'UbuntuMono';
    src: url('fonts/UbuntuMono.ttf');
}

// UbuntuMono-Italic
@font-face {
    font-family: 'UbuntuMono Italic';
    src: url('fonts/UbuntuMono-Italic.ttf');
}

// UbuntuMono-Italic
@font-face {
    font-family: 'UbuntuMono Italic';
    src: url('fonts/UbuntuMono-Italic.ttf');
}

// Ubuntu
@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu.ttf');
}

// Ubuntu-Italic
@font-face {
    font-family: 'Ubuntu Italic';
    src: url('fonts/Ubuntu-Italic.ttf');
}