.invl-form-operadoras {
    input[type="checkbox"] {
        display: none;
    }
    .invl-form-operadoras-list {
        list-style: none;
        li {
            display: inline-block;
            img {
                width: 150px;
                margin-right: 20px;
                opacity: .4;
            }
        }
    }
}

.active {
    opacity: 1 !important;
}